In [13]:
import requests

# Define the API endpoint and parameters
url = "https://www.sas.se/api/offers/flights/"
params = {
    "to": "CPT",
    "from": "ARN",
    "outDate": "20240429",
    "adt": 2,
    "chd": 1,
    "inf": 0,
    "yth": 0,
    "bookingFlow": "star",
    "pos": "se",
    "channel": "web",
    "displayType": "upsell",
    "cepId": "STAR"
}

# Define the headers
headers = {
  'authority': 'www.sas.se',
  'accept': 'application/json, text/plain, */*',
  'accept-language': 'sv',
  'content-type': 'application/json; charset=utf-8',
  'cookie': 'TrackingId=635bafb7-6fda-4755-ae23-1157ea0b4bd2; _cookienew=acknowledged; _cookiepersonalization=true; _cookieanalytics=true; anonymousFeatureFlagId=7c2aebd1-9079-44e6-aea8-f2d4f523d932; _sas_randomize=56; _ga=GA1.1.27743387.1703689564; FPID=FPID2.2.ANRz4CvEnnXn6au06CgiiaLlnYqRirwxSWTGWTm1Ees%3D.1703689564; FPLC=6y3wyemwHb7Va0yDpocyz7Uk2LIMd%2Bop66ZaeIHYFvY0DJJI2s67jmmKQvc5aKj0F%2BIXFegzKTl7PRFEXU7CBNcuM7%2Bv9eFTGFod%2BjjFCgzX7mgnmtYohfQbVe56RQ%3D%3D; _air360_i=MDg1NjRiMTc2ZDc3Y2JmNjdlNmE1ZTYyMGUwNjY1MDc%3D; _gcl_au=1.1.401150464.1703689575; _scid=7647e0ae-d47c-4ae6-9867-8595d1fdee4a; _scid_r=7647e0ae-d47c-4ae6-9867-8595d1fdee4a; ASLBSA=0003a183921f3a21b033af105bcc86491cb46108e0ca337400ffeb818a02ad8789c4; ASLBSACORS=0003a183921f3a21b033af105bcc86491cb46108e0ca337400ffeb818a02ad8789c4; GTM-inMarketFlag=in-market; _uetsid=7dc1e880a4c911eebf95abaa1cc983fe; _uetvid=7dc2a3d0a4c911ee953e73c2000666e2; _air360_s=MWVhYzhmODUtNjA5MC00ZWVkLWI0YjAtYWFmNzFiMDFhZGZiLTE3MDM2ODk1Njh8MTcwMzY5MTEwNy4xMzM%3D; reese84=3:Jzwc6q8NPsI7Bp2HmBj6oA==:Ftf/Srfbec1Tf8Cc8KAhgm2O51/TZMNSTSW+fYD+S9LSw6h3WV/IEVqE3hcvYy9EtO3PIhk3VTF6ePpYFsQCkCEC08eyeOKH2prVPG3EEWN8bV3+m3WnZE9vM8P5mnOsOXgLIDG6W7ujfxqjaaZ+azeKNR2gL9HxAiapuYVOc3AU1ghkKqQq1E3JY5F8Pt3uHkS94VvZDZf54KzBiYydSyOHnspM2zGFdQUT+vg9k56Qu4cNI9ZSsRVsJluBl9+khT+P2dsCcfzUWOn7egMW+zKPpvHdaUqCH2ETGaSrZfWrmdfiFDI0KgCmm5mVk40Pakap9a0a4oUMsymnmq9fxg22BKImQTD2fyLID6RKkVY1Iy+4Hh8C4ihyHDHX5jrBdug9K92BYq1t5S3iXxYJDRpv10K3Ek2IPIWOY6Eb05v3fAKxbHCgAWq/ARvvATqdVmUToHnfqEkiWZ5h2qxjVoSJaiS8rmd6E1vWMKx7m+0=:lHGYwlK6JqHPW4mkOgo1Qv3ijFysk3Fu4cNpPl2b+Bs=; _ga_V34SCQB3NJ=GS1.1.1703689563.1.1.1703691129.0.0.0',
  'sec-ch-ua': '"Not_A Brand";v="8", "Chromium";v="120", "Microsoft Edge";v="120"',
  'sec-ch-ua-mobile': '?0',
  'sec-ch-ua-platform': '"Windows"',
  'sec-fetch-dest': 'empty',
  'sec-fetch-mode': 'cors',
  'sec-fetch-site': 'same-origin',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36 Edg/120.0.0.0'
}

# Make the API request
response = requests.get(url, params=params, headers=headers)

# Check for successful request
if response.status_code == 200:
    # Parse JSON data
    data = response.json()
    # Your code to process data goes here
else:
    print(f"Failed to get data from API. Status code: {response.status_code}")

In [16]:
import pandas as pd

# Initialize empty lists to hold different kinds of data
general_flight_info = []
segment_info = []
cabin_price_info = []
cabin_pricing_per_flight = []

# Iterate through each flight in the 'outboundFlights' dictionary
for flight_key, flight_value in data['outboundFlights'].items():
    # Extracting general flight information
    general_flight_info.append({
        'FlightKey': flight_key,
        'Origin': flight_value.get('origin', {}).get('code', None),
        'Destination': flight_value.get('destination', {}).get('code', None),
        'StartTimeInLocal': flight_value.get('startTimeInLocal', None),
        'EndTimeInLocal': flight_value.get('endTimeInLocal', None),
        'ConnectionDuration': flight_value.get('connectionDuration', None),
        'Stops': flight_value.get('stops', None)
    })

    # Extracting segment information
    for segment in flight_value.get('segments', []):
        segment_info.append({
            'FlightKey': flight_key,
            'SegmentID': segment.get('id', None),
            'DepartureAirport': segment.get('departureAirport', {}).get('code', None),
            'ArrivalAirport': segment.get('arrivalAirport', {}).get('code', None),
            'DepartureTimeInLocal': segment.get('departureDateTimeInLocal', None),
            'ArrivalTimeInLocal': segment.get('arrivalDateTimeInLocal', None),
            'Duration': segment.get('duration', None),
            'FlightNumber': segment.get('flightNumber', None),
        })

    # Extracting cabin and price information
    for cabin_type, cabin_details in flight_value.get('cabins', {}).items():
        for product_type, product_details in cabin_details.items():
            for product_code, product_info in product_details.get('products', {}).items():
                cabin_price_info.append({
                    'FlightKey': flight_key,
                    'CabinType': cabin_type,
                    'ProductType': product_type,
                    'ProductCode': product_code,
                    'ProductName': product_info.get('productName', None),
                    'TotalPrice': product_info.get('price', {}).get('totalPrice', None),
                    'Currency': product_info.get('price', {}).get('currency', None)
                })

    # Extracting cabin and price information for each outbound flight
    for cabin_type, cabin_details in flight_value.get('cabins', {}).items():
        for product_type, product_details in cabin_details.items():
            for product_code, product_info in product_details.get('products', {}).items():
                cabin_pricing_per_flight.append({
                    'FlightKey': flight_key,
                    'CabinType': cabin_type,
                    'ProductType': product_type,
                    'ProductCode': product_code,
                    'ProductName': product_info.get('productName', None),
                    'TotalPrice': product_info.get('price', {}).get('totalPrice', None),
                    'Currency': product_info.get('price', {}).get('currency', None),
                    'Points': product_info.get('price', {}).get('points', None),
                    'PointsAfterDiscount': product_info.get('price', {}).get('pointsAfterDiscount', None)
                })

# Create Pandas DataFrames from the lists
general_flight_info_df = pd.DataFrame(general_flight_info)
segment_info_df = pd.DataFrame(segment_info)
cabin_price_info_df = pd.DataFrame(cabin_price_info)
cabin_pricing_per_flight_df = pd.DataFrame(cabin_pricing_per_flight)

In [21]:
cabin_pricing_per_flight_df

,FlightKey,CabinType,ProductType,ProductCode,ProductName,TotalPrice,Currency,Points,PointsAfterDiscount
0,F0,ECONOMY,ECONOMY,O_1,ECONOMY,0.0,SEK,162000,162000
1,F1,ECONOMY,ECONOMY,O_2,ECONOMY,0.0,SEK,162000,162000
2,F2,ECONOMY,ECONOMY,O_3,ECONOMY,0.0,SEK,162000,162000
3,F3,ECONOMY,ECONOMY,O_17,ECONOMY,0.0,SEK,162000,162000
4,F4,ECONOMY,ECONOMY,O_4,ECONOMY,0.0,SEK,162000,162000
5,F5,ECONOMY,ECONOMY,O_5,ECONOMY,0.0,SEK,162000,162000
6,F6,ECONOMY,ECONOMY,O_6,ECONOMY,0.0,SEK,162000,162000
7,F7,ECONOMY,ECONOMY,O_7,ECONOMY,0.0,SEK,162000,162000
8,F8,ECONOMY,ECONOMY,O_8,ECONOMY,0.0,SEK,162000,162000
9,F9,ECONOMY,ECONOMY,O_9,ECONOMY,0.0,SEK,162000,162000
10,F10,ECONOMY,ECONOMY,O_15,ECONOMY,0.0,SEK,162000,162000
11,F11,ECONOMY,ECONOMY,O_16,ECONOMY,0.0,SEK,162000,162000
12,F12,ECONOMY,ECONOMY,O_18,ECONOMY,0.0,SEK,162000,162000